/* KEYFRAMES */

@keyframes background {
  0% {
    background-color: #ff78c4;
  }
  25% {
    background-color: #f6ffa6;
  }
  50% {
    background-color: #e1aeff;
  }
  75% {
    background-color: #ffbdf7;
  }
  100% {
    background-color: #ff78c4;
  }
}

@keyframes theme {
  0% {
    background-color: #393646;
  }
  25% {
    background-color: #4f4557;
  }
  50% {
    background-color: #6d5d6e;
  }
  100% {
    background-color: #000;
  }
}

@keyframes roll {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(48vw);
  }
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

body {
  margin: 0;
  color: black;
  animation: background 10s ease-in-out infinite;
}

.dark {
  animation: theme 10s ease-in-out infinite;
  color: white;
}

.navBar {
  display: flex;
  justify-content: space-evenly;
}

.header {
  display: flex;
  width: 100%;
}

.mainIcon {
  display: flex;
  align-items: center;
}

.icon {
  margin: 5px;
  width: 10%;
}

.title {
  margin-left: 15px;
  font-size: 5em;
}

.toggle {
  display: flex;
  justify-content: flex-end;
  width: 20%;
  height: 25%;
}

.changeTheme {
  margin: 10px;
  background-color: black;
  color: white;
  border: 2px solid white;
  padding: 10px;
  border-radius: 20px;
}

.changeTheme:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.light {
  margin: 10px;
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px;
  border-radius: 20px;
}

.light:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.mainContainer {
  background-color: rgba(249, 245, 246, 0.5);
  padding: 5px 25px;
  margin: 25px auto;
  width: 60%;
  border-radius: 25px;
}

.mainTitle {
  text-align: center;
  font-size: 2em;
}

.rollerSkate {
  margin: 5px;
}

.skate {
  width: 20%;
  height: 20%;
  animation: roll 15s ease-in-out infinite;
}

.skate:hover {
  cursor: pointer;
}

.skateImg {
  width: 100%;
}

.skateImg:hover {
  filter: hue-rotate(225deg);
  cursor: pointer;
  animation: flip 5s ease-in-out infinite;
}

.smSkate {
  width: 100%;
}

.smSkate:hover {
  filter: hue-rotate(225deg);
  cursor: pointer;
}

.mainInfo {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
}

.vidRow {
  display: flex;
  justify-content: space-around;
  height: 40vh;
}
.vid {
  border: solid deeppink;
  margin: 5px;
  width: 33%;
}

.hidden {
  display: none;
}

.button {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moreVideos {
  display: flex;
  justify-content: center;
}

.moreInfo,
.moreVids {
  background-color: blueviolet;
  color: white;
  border: 3px solid white;
  border-radius: 20px;
  padding: 10px;
}

.moreInfo:hover,
.moreVids:hover {
  background-color: white;
  color: blueviolet;
  border: 1px solid blueviolet;
  cursor: pointer;
  transition: 1s ease-in-out;
}

.gallery {
  margin: 10px;
}

.galleryImg {
  border: solid deeppink;
  margin: 5px;
}

.rowOne {
  display: flex;
  justify-content: space-evenly;
}

.galleryImg {
  width: 33%;
}

.galleryImg:hover {
  filter: grayscale(75%);
  transform: rotateY(180deg);
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.newPlaylist {
  background-color: blueviolet;
  color: white;
  border: 3px solid white;
  border-radius: 20px;
  padding: 10px;
}

.newPlaylist:hover {
  background-color: white;
  color: blueviolet;
  border: 1px solid blueviolet;
  cursor: pointer;
  transition: 1s ease-in-out;
}
