body {
  margin: 0;
}

.navBar {
  display: flex;
  justify-content: space-between;
  border: solid black;
}

.header {
  display: flex;
  border: solid blue;
  width: 100%;
}

.icon {
  margin: 5px;
  width: 30%;
}

.title {
  text-align: center;
  font-size: 2.1em;
}

.toggle {
  border: solid green;
  width: 20%;
}

.mainContainer {
  padding: 15px;
  margin: 25px auto;
  border: solid turquoise;
  width: 60%;
}

.mainTitle {
  text-align: center;
}

.rollerSkate {
  border: solid orange;
}

.skate {
  border: solid blue;
  width: 20%;
  height: 20%;
}

.skateImg {
  width: 100%;
}

.mainInfo {
  font-size: 20px;
}

.vidRow {
  display: flex;
  justify-content: space-around;
  height: 40vh;
}
.vid {
  border: solid deeppink;
  margin: 5px;
  width: 33%;
}

.button {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moreInfo {
  background-color: blueviolet;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px;
}

.moreInfo:hover {
  background-color: white;
  color: blueviolet;
  border: 1px solid blueviolet;
  cursor: pointer;
  transition: 1s ease-in-out;
}

.gallery {
  margin: 10px;
}

.galleryImg {
  border: solid deeppink;
  margin: 5px;
}

.rowOne {
  display: flex;
  justify-content: space-evenly;
}

.galleryImg {
  width: 33%;
}
